{% extends "layout.html" %}

{% block content %}

<div class="dashboard-container">
    <h1 class="text-center mb-5">
        Worship Discipline. Reach your peak.
    </h1>

    <p class="lead text-secondary">
        Organize tasks, track progress, and achieve your goals with our intuitive productivity app. Stay focused, manage your time effectively, and boost your productivity to reach new heights.
    </p>

    <a href="/tasks" class="btn btn-primary btn-lg rounded-pill px-4">
        View Tasks
    </a>">

    <div
        

    