<!DOCTYPE html>>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
                <link href="/static/favicon.ico" rel="icon">
                <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
                <title>{% block title %}Productivity App{% endblock %}</title>
    </head>
    <body class="bg-light">
        
        <nav class="navbar navbar-expand-lg bg-white border-bottom bg-dark">
            <div class="container-fluid">
                <a class ="navbar navbar-brand fw-bold text-light" href="/">Productivity App</a>

                <div class="ms-auto">
                    <button class="btn btn-outline-primary rounded-pill">
                        Profile
                    </button>
                </div>
            </div>
        </nav>


        <main class="container py-5">
            {% block content %}{% endblock %}
        </main>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
    </body>
</html>